.member-registration
  .member-box
    .member-header
      =link_to root_path,class:"down-header__a--link", data: {"turbolinks" => false} do
        = image_tag "fmarket_logo_red.svg", class: 'member-header__icn'
    .progress-phone 
      .signup-list
        .signup-list__information
          会員情報
          .signup-list__information--ball
          .signup-list__information--line
        .signup-list__phone
          電話番号認証
          .signup-list__phone--ball
          .signup-list__phone--left
          .signup-list__phone--right
        .signup-list__address
          お届け先住所入力
          .signup-list__address--ball
          .signup-list__address--left
          .signup-list__address--right
        .signup-list__card
          支払い方法
          .signup-list__card--ball
          .signup-list__card--left
          .signup-list__card--right
        .signup-list__finish
          完了
          .signup-list__finish--ball
          .signup-list__finish--left
  .main
    .member-main
      .member-main__registration
        電話番号の確認
      .single-content
        = form_for @user, url: signup4_signup_index_path, method: :get, html: {class: 'single-content'} do |f|
          .form
            .phone_number
              携帯電話の番号
              = f.telephone_field :phone_num, placeholder: "携帯電話の番号を入力", class: "phone_number-default"
              - if @user.errors.any?
                %li.error-message 電話番号を入力して下さい
            .phone-number_a
              本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。
            .phone-number_b
              = f.submit "SMSを送信する", class: "phone-number_b-c"
            .phone-number_a
              ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。
          .form-group__text-right
            = link_to "#" ,class: "form-group__text-right--link" do
              電話番号の確認が必要な理由
            = icon('fas','angle-right', class:"form-group__text-right--icn")
  .single-footer
    = render partial: "users/footer"
