.member-registration
  = render partial: "users/loginheader"
  .main
    .member-main
      .member-main__registration
        発送元・お届け先住所住所入力
      .member-content
        = form_for @user, url: signup5_signup_index_path, method: :get, html: {class: 'member-content'} do |f|
          .form
            .form__groups
              = f.label :last_name, "お名前"
              .form__groupss
                必須
            .form__groupsss--w
              = f.text_field :last_name, class: "form__groupsss--cc", placeholder: "例) 山田"
              = f.text_field :first_name, class: "form__groupsss--cc",placeholder: "例) 彩"
          .form
            .form__groups
              = f.label :last_name_kana, "お名前(全角)"
              .form__groupss
                必須
            .form__groupsss--w
              = f.text_field :last_name_kana, class: "form__groupsss--cc", placeholder: "例) ヤマダ"
              = f.text_field :first_name_kana, class: "form__groupsss--cc", placeholder: "例) アヤ"
          = f.fields_for :addresses do |a|
            .form
              .form__groups
                = a.label :postcode, "郵便番号"
                .form__groupss
                  必須
              .form__groupsss
                = a.text_field :postcode, class: "form__groupsss--cc", placeholder: "例) 123-4567"
            .form
              .form__groups
                = a.label :prefecture_id, "都道府県"
                .form__groupss
                  必須
              .form__groupsss
                .select-wrap__ha
                  = a.collection_select :prefecture_id, Prefecture.all, :id, :name, prompt: "--"
                  
            .form
              .form__groups
                = a.label :city, "市区町村"
                .form__groupss
                  必須
              .form__groupsss
                = a.text_field :city, class: "form__groupsss--cc", placeholder: "例) 横浜市横浜市緑区"
            .form
              .form__groups
                = a.label :house_num, "番地"
                .form__groupss
                  必須
              .form__groupsss
                = a.text_field :house_num, class: "form__groupsss--cc", placeholder: "例) 123-4567"
            .form
              .form__groups
                = a.label :building_name, "建物名"
                .form__groupss5
                  任意
              .form__groupsss
                = a.text_field :building_name, class: "form__groupsss--cc", placeholder: "例) 柳ビル103"
            .form
              .form__groups
                電話
                .form__groupss5
                  任意
              .form__groupsss
                = f.text_field :phone_num, class: "form__groupsss--cc", placeholder: "例) 09012345678"
            .btn-default
              = f.submit "次へ進む", class: "btn-default__red"
  .single-footer
    = render partial: "users/footer"