.left
  .left-container
    .left-container__list
      = link_to "#", class: "left-container__list--tag" do
        マイページ
      = icon('fas', 'chevron-right', class:"left-container__list--icon") 
    .left-container__list
      = link_to "#", class: "left-container__list--tag" do
        お知らせ
      = icon('fas', 'chevron-right', class:"left-container__list--icon") 
    .left-container__list
      = link_to "#", class: "left-container__list--tag" do
        やることリスト
      = icon('fas', 'chevron-right', class:"left-container__list--icon") 
    .left-container__list
      = link_to "#", class: "left-container__list--tag" do
        いいね！一覧
      = icon('fas', 'chevron-right', class:"left-container__list--icon") 
    .left-container__list
      = link_to "#", class: "left-container__list--tag" do
        出品する
      = icon('fas', 'chevron-right', class:"left-container__list--icon") 
    .left-container__list
      = link_to "#", class: "left-container__list--tag" do
        出品した商品・出品中
      = icon('fas', 'chevron-right', class:"left-container__list--icon") 
    .left-container__list
      = link_to "#", class: "left-container__list--tag" do
        出品した商品・取引中
      = icon('fas', 'chevron-right', class:"left-container__list--icon") 
    .left-container__list
      = link_to "#", class: "left-container__list--tag" do
        出品した商品・売却済み
      = icon('fas', 'chevron-right', class:"left-container__list--icon") 
    .left-container__list
      = link_to "#", class: "left-container__list--tag" do
        購入した商品・過去の取引
      = icon('fas', 'chevron-right', class:"left-container__list--icon") 
    .left-container__list
      = link_to "#", class: "left-container__list--tag" do
        ニュース一覧
      = icon('fas', 'chevron-right', class:"left-container__list--icon") 
    .left-container__list
      = link_to "#", class: "left-container__list--tag" do
        評価一覧
      = icon('fas', 'chevron-right', class:"left-container__list--icon") 
    .left-container__list
      = link_to "#", class: "left-container__list--tag" do
        ガイド一覧
      = icon('fas', 'chevron-right', class:"left-container__list--icon") 
    .left-container__list
      = link_to "#", class: "left-container__list--tag" do
        お問い合わせ
      = icon('fas', 'chevron-right', class:"left-container__list--icon") 

    .left-container__pay
      メルペイ
    .left-container__list
      = link_to "#", class: "left-container__list--tag" do
        売上・振込申請
      = icon('fas', 'chevron-right', class:"left-container__list--icon") 
    .left-container__list
      = link_to "#", class: "left-container__list--tag" do
        ポイント
      = icon('fas', 'chevron-right', class:"left-container__list--icon")

    .left-container__setting
      設定
    .left-container__list
      = link_to "#", class: "left-container__list--tag" do
        プロフィール
      = icon('fas', 'chevron-right', class:"left-container__list--icon")
    .left-container__list
      = link_to "#", class: "left-container__list--tag" do
        発送元。お届け先住所変更
      = icon('fas', 'chevron-right', class:"left-container__list--icon")
    .left-container__list
      = link_to "#", class: "left-container__list--tag" do
        支払い方法
      = icon('fas', 'chevron-right', class:"left-container__list--icon")
    .left-container__list
      = link_to "#", class: "left-container__list--tag" do
        メール/パスワード
      = icon('fas', 'chevron-right', class:"left-container__list--icon")
    .left-container__list
      = link_to "#", class: "left-container__list--tag" do
        本人情報
      = icon('fas', 'chevron-right', class:"left-container__list--icon")
    .left-container__list
      = link_to "#", class: "left-container__list--tag" do
        電話番号の確認
      = icon('fas', 'chevron-right', class:"left-container__list--icon")
    .left-container__list
      = link_to "ログアウト", logout_users_path, class: "left-container__list--tag" 
      = icon('fas', 'chevron-right', class:"left-container__list--icon")
