.main
  .sub-main
    .header
      = render partial: "/items/header"
      = render partial: "/items/sellbutton"
.contents
  - breadcrumb :profile
  = render partial: "menu_head"
  .center
    = render partial: "left"
    .edit
      .edit-container
        .edit-container__block
          プロフィール
        .edit-box
          .edit-box__profile
            %form
              %input{type:"hidden", class: "edit-box__profile"}
          .edit-profile
            =link_to image_tag("bokashi.jpg", class: "edit-profile__img")
            .edit-group
              .edit-group__block
                = icon('fas', 'user-circle', class: "edit-group__block--icon")
                %input{type: "text", class: "edit-group__block--text", placeholder: "ユーザー名"}
            .edit-details
              %textarea{name: "プロフィール文", cols: "30", rows: "10", class: "edit-details__text", placeholder: "例）こんにちは☆ ご覧いただきありがとうございます！かわいいものやきれいめオフィスカジュアル中心に出品しています。服のサイズは主に9号です。気持ちよくお取引できるよう心がけていますので、商品や発送方法などご質問がありましたらお気軽にどうぞ♪"}
              %input{type: "submit", class: "edit-details__submit", value: "変更する"}
.main
  .sub-main
    .footer
      = render partial: "/items/footer"   