.main
  .sub-main
    .header
      = render partial: "/items/header"
      = render partial: "/items/sellbutton" 
.contents
  = render partial: "menu_head"
  .center
    = render partial: "left"
    .logout
      .logout__in
        = link_to "#", class: "logout__in--btn" do
          ログアウト


.main
  .sub-main
    .footer
      = render partial: "/items/footer" 