.login-main
  .login-header 
    = image_tag "fmarket_logo_red.svg", class: 'login-header--icn'
  .signup-main
    .signup-container
      .signup-container__registration
        アカウントをお持ちでない方はこちら
      .signup-container__account 
        = link_to "#" ,class: "signup-container__account--link" do
          新規会員登録
    .login-form
      .login-form__box
        = icon('fab', 'facebook-square', class:"login-form__box--icon")
        = link_to "#" ,class: "login-form__box--link" do
          Facebookでログイン
      .login-form__block
        = icon('fab', 'google', class:"login-form__block--icon")
        = link_to "#" ,class: "login-form__block--link" do
          Googleでログイン
    %form
      .form-block
        .form-group
          %input{placeholder: "メールアドレス", type: "email", class: "form-group--email"}
        .form-tab
          %input{placeholder: "パスワード", type: "password", class: "form-tab--password" }
        .form-box
          .login-captcha{"data-sitekey" => "6LfZGCYTAAAAAHoK-s7Lg5OdYg5Fq4susvALmZoc"}
            .form-box__captcha
              %iframe{frameborder: "0",height: "78",role: "presentation",sandbox: "allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox", :scrolling => "no", :src => "https://www.google.com/recaptcha/api2/anchor?ar=1&k=6LfZGCYTAAAAAHoK-s7Lg5OdYg5Fq4susvALmZoc&co=aHR0cHM6Ly93d3cubWVyY2FyaS5jb206NDQz&hl=ja&v=mhgGrlTs_PbFQOW4ejlxlxZn&size=normal&cb=uvu3wf6bvpg8", :width => "304"}
              %textarea#g-recaptcha-response.g-recaptcha-response{:name => "g-recaptcha-response", :style => "width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"}
        .form-default
          %input{type: "submit", class: "form-default__submit", value: "ログイン" } 
        .form-forget
          = link_to "#" ,class: "form-forget__c" do
            パスワードをお忘れの方
  .single-footer
    .footer-block
      .footer-block__box
        プライバシーポリシー
      .footer-block__box
        メルカリ利用規約
      .footer-block__box
        特定商取引に関する表記
    .footer-logo
      = image_tag "logo_gray.svg", class: 'footer-logo--icn'
      %p © Mercari, Inc.



