.singunp-mercari
  .singunp-mercari__header
    = image_tag "fmarket_logo_red.svg", class: 'singunp-mercari__header--icn'
  .single-main
    .single-main__container
      新規会員登録
    .l-single-inner
      .l-single__content
        .icon-mail
          = icon('fas', ' fa-envelope', class:"icon-mail--c")
          = link_to "メールアドレスで登録する", new_signup_path, class: "icon-mail--link" 
          
        .icon-facebook
          = icon('fab', 'facebook-square', class:"icon-facebook--c")      
          = link_to user_facebook_omniauth_authorize_path ,class: "icon-facebook--link" do
            Facebookで登録する
        
        .icon-google
          = icon('fab', 'google', class:"icon-google--c")
          = link_to user_google_oauth2_omniauth_authorize_path ,class: "icon-google--link" do
            Googleで登録する
  .single-footer
    = render partial: "users/footer"



