.header-all
  .upper-header
    .upper-header__1
      =link_to root_path,class:"down-header__a--link" do
        = image_tag "fmarket_logo_red.svg", size: "160x42",class: "upper-img"
    .upper-header__2
      %input{type: "text", class: 'upper-header__2--text', placeholder: "何をお探しですか？"}
  .down-header
    .down-header__a
      .down-header__a--1
        =link_to "#",class:"down-header__a--link" do
          = icon("fa", "bars", class: 'down-header__a--icon')
          カテゴリーから探す
      .down-header__a--2
        =link_to "#",class:"down-header__a--link" do
          = icon('fa', "tags", class: 'down-header__a--icon')
          ブランドから探す

    - if user_signed_in?
      .down-header__b
        .down-header__b--3
          =link_to "#",class:"down-header__b--link" do
            = icon('far', "heart", class: 'down-header__b--icon')
            いいね！！一覧          
        .down-header__b--3
          =link_to "#",class:"down-header__b--link" do
            = icon('far', "bell", class: 'down-header__b--icon')
            お知らせ          
        .down-header__b--3
          =link_to "#",class:"down-header__b--link" do
            = icon('fas', "check", class: 'down-header__b--icon')
            やることリスト
        .down-header__b--3
          =link_to user_path(current_user), class:"down-header__b--link" do
            = icon('far', "meh", class: 'down-header__b--icon')
            マイページ
    - else  
      .down-header__box
        = link_to "新規登録", signup1_users_path, class: 'down-header__box--sign'
        = link_to "ログイン", new_user_session_path, class: 'down-header__box--log' 
      

          
            
      

       
          

         