.main
  .sub-main
    .header
      = render partial: "header"
      = render partial: "sellbutton"      
    .body
      .body_img
        =image_tag "human-3175027_1920.jpg",:class => "body_img_1"
      .body_category
        .body_category_1
          人気のカテゴリー
        .body_category_2
          .category_1
            .body_category_2_a
              レディース
          .category_2
            .body_category_2_b
              メンズ
          .category_3
            .body_category_2_c
              家電・スマホ・カメラ
          .category_4
            .body_category_2_d
              おもちゃ・ホビー・グッズ
      .body_item
        .body_item_all
          .body_item_1
            レディース新着アイテム
          .body_item_2
            = link_to "もっと見る ＞" , "", class:"body_item_2--btn"
        .pict_box_all
          - @items_ladies.each do |item_ladies|
            .pic_3
              .pic_3--img
                .pic_3--img--a
                  = link_to item_path(item_ladies), data: {"turbolinks" => false} do
                    =image_tag item_ladies.images[0].src.url,class:"pic3",size:"180x200"
                .pic_3--price
                  = number_to_currency(item_ladies.price) #ヘルバーメソッド使いました。app/helpers/items_helper.rbに記述があります。
              .pic_name_3
                = item_ladies[:name]
      .body_item
        .body_item_all
          .body_item_1
            メンズ新着アイテム
          .body_item_2
            = link_to "もっと見る ＞" , "", class:"body_item_2--btn"
        .pict_box_all
          - @items_mens.each do |item_mens|
            .pic_3
              .pic_3--img
                .pic_3--img--a
                  = link_to item_path(item_mens), data: {"turbolinks" => false} do
                    =image_tag item_mens.images[0].src.url,class:"pic3",size:"180x200"
                .pic_3--price
                  = number_to_currency(item_mens.price) #ヘルバーメソッド使いました。app/helpers/items_helper.rbに記述があります。
              .pic_name_3
                = item_mens[:name]
      .body_item
        .body_item_all
          .body_item_1
            おもちゃ・ホビー・グッズ新着アイテム           
          .body_item_2
            = link_to "もっと見る ＞" , "", class:"body_item_2--btn"
        .pict_box_all
          - @items_toies.each do |item_toies|
            .pic_3
              .pic_3--img
                .pic_3--img--a
                  = link_to item_path(item_toies), data: {"turbolinks" => false} do
                    =image_tag item_toies.images[0].src.url,class:"pic3",size:"180x200"
                .pic_3--price
                  = number_to_currency(item_toies.price) #ヘルバーメソッド使いました。app/helpers/items_helper.rbに記述があります。
              .pic_name_3
                = item_toies[:name]
      .body_item
        .body_item_all
          .body_item_1
            家電・スマホ・カメラ新着アイテム
          .body_item_2
            = link_to "もっと見る ＞" , "", class:"body_item_2--btn"
        .pict_box_all
          - @items_electricdevices.each do |item_electricdevices|
            .pic_3
              .pic_3--img
                .pic_3--img--a
                  = link_to item_path(item_electricdevices), data: {"turbolinks" => false} do
                    =image_tag item_electricdevices.images[0].src.url,class:"pic3",size:"180x200"
                .pic_3--price
                  = number_to_currency(item_electricdevices.price) #ヘルバーメソッド使いました。app/helpers/items_helper.rbに記述があります。
              .pic_name_3
                = item_electricdevices[:name]
    .footer
      = render partial: "footer"

