.main
  .sub-main
    .header
      = render partial: "header"
.mainbox
  .itembox
    .itembox__name
      = @item.name
    .itembox__main
      .itembox__main__photo
        =image_tag @item.images[0].src.url,size:"300x300"
        .mainbox-images-sub
          - @item.images.each do |image|
            .mainbox-image-sub__photo
              = image_tag image.src.url,class:"sub-image",size:"60x60" 
       
      .itembox__main__detailtable
        %table{:border => "1", :bordercolor => "#f0eaea", :cellpadding => "5", :cellspacing => "0", :width => "300"}
          %tr
            %th{:bgcolor => "#f5f5f5", :width => "117", :height => "46"}
              %font{:color => "black"} 出品者
            %td{:bgcolor => "white", :width => "182", :height => "46"}
              = @item.seller.nickname
              .iconyo
                = icon('fas', 'laugh-squint', class: "iconyo__left", )
                0
                = icon('fas', 'smile', class: "iconyo__center")
                0
                = icon('fas', 'tired', class: "iconyo__right")
                0
          %tr
            %th{:bgcolor => "#f5f5f5", :width => "117", :height => "73"}
              %font{:color => "black"} カテゴリー
            %td{:bgcolor => "white", :width => "182", :height => "73"}
              =link_to "#", class: "catecate" do
                = @item.category.name
              -# %p
              -#   =link_to "#", class: "catecate" do
              -#     %i.fa.fa-angle-right
             
              -# =link_to "#", class: "catecate" do
              -#   %i.fa.fa-angle-right
              -#   = @item.category.children.name
          %tr
            %th{:bgcolor => "#f5f5f5", :width => "117", :height => "46"}
              %font{:color => "black"} ブランド
            %td{:bgcolor => "white", :width => "182", :height => "46"}
              指定なし
          %tr
            %th{:bgcolor => "#f5f5f5", :width => "117", :height => "46"}
              %font{:color => "black"} 商品の状態
            %td{:bgcolor => "white", :width => "182", :height => "46"}
              = @item.condition
          %tr
            %th{:bgcolor => "#f5f5f5", :width => "117", :height => "46"}
              %font{:color => "black"} 配送寮の負担
            %td{:bgcolor => "white", :width => "182", :height => "46"}
              =@item.delivery_charge
          %tr
            %th{:bgcolor => "#f5f5f5", :width => "117", :height => "46"}
              %font{:color => "black"} 配送の方法
            %td{:bgcolor => "white", :width => "182", :height => "46"}
              %font{:color => "black"} 未定
          %tr
            %th{:bgcolor => "#f5f5f5", :width => "117", :height => "46"}
              %font{:color => "black"} 配送元地域
            %td{:bgcolor => "white", :width => "182", :height => "46"}
              =@item.delivery_area
          %tr
            %th{:bgcolor => "#f5f5f5", :width => "117", :height => "46"}
              %font{:color => "black"} 発送日の目安
            %td{:bgcolor => "white", :width => "182", :height => "46"}
              =@item.delivery_days



    .itembox__price
      .itembox__price__bold
        = number_to_currency(@item.price)
        %span{:class => "itembox__price__tax"}（税込）
        .itembox__price__shipping
          配送料：
          =@item.delivery_charge
    -if user_signed_in?
      -if @item.seller_id == current_user.id
        = link_to edit_item_path(@item), data: {turbolinks: false} do
          .item-edit
            商品の編集
          .item-box
            or
          .item-stop
            出品を一旦停止する
        = link_to item_path(@item), method: :delete, data: {turbolinks: false} do
          .item-delete
            この商品を削除する   
      -else 
        -if @item.status == 0
          = link_to buy_item_path(@item,@card), data: {turbolinks: false}, class:"itembox__buy--btn" do
            .itembox__buy
              商品購入画面に進む
        -else
          .item-sold
            売り切れました
    -else
      -if @item.status == 0
        = link_to signup1_users_path, class:"itembox__buy--btn" do
          .itembox__buy
            商品購入画面に進む
      -else
        .item-sold
          売り切れました
    -unless user_signed_in? && @item.buyer_id == current_user.id
      .itembox__description
        =@item.description
      .itembox__button
        .itembox__button__left
          .itembox__button__left__like
            %button{:class => "itembox__button__left__like--btn"}
              = icon('far', 'heart', class: "itembox__button__left__like--btn")
            %span いいね!
            %span.fade-in-down{"data-num" => "like"} 100
          .itembox__button__left__flag
            =link_to "#",class: "itembox__button__left__flag--btn" do
              = icon('far', 'flag', class: "itembox__button__left__flag--btn")
              %span 不適切な商品の報告
        .itembox__button__right
          =link_to "#", class: "itembox__button__right__all" do
            = icon('fas', 'lock', class: "itembox__button__right__all--btn")
            %span あんしん・あんぜんへの取り組み


    



  .messagecontent
    .comment
      - if @comments    
        - @comments.each do |comment|
          %h4 ＜コメント一覧＞
          %p
            %strong
              = link_to comment.user.nickname, "/users/#{comment.user_id}", class: "comment__name"
            .comment__content
              ：
              = comment.content
    .messagecontent__attention  
      %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
    - if current_user
      = form_with(model: [@item, @comment], local: true) do |form|
        = form.text_area :content, placeholder: "コメントする", rows: "2", class: "messagecontent__text--file"
        = form.submit "コメントする", class: "messagecontent__submit--btn"
    - else
      %strong
        %p ※※※ コメントの投稿には新規登録/ログインが必要です ※※※

      




  .navitemlink
    .navitemlink__prev
      =link_to "#", class: "navitemlink__prev__first" do
        = icon('fas', 'chevron-left', class: "navitemlink__prev__first--btn")
        %span 艦これ 劇場版 二週目特典
    .navitemlink__next
      =link_to "#", class: "navitemlink__next__first" do
        %span 本田様専用＊冷蔵庫横マグネットラック   
        = icon('fas', 'chevron-right', class: "navitemlink__next__first--btn")
      



  .itemsocialmedia
    .itemsocialmedia__center
    .itemsocialmedia__box
      %span{:class => "itemsocialmedia__box__facebook"}
        =link_to "https://www.facebook.com/" do
          = icon('fab', 'facebook-square', class: "itemsocialmedia__box__facebook--btn")
          %span<>
      %span{:class => "itemsocialmedia__box__twitter"}
        =link_to "https://twitter.com/shimo_engineers" do
          = icon('fab', 'twitter-square', class: "itemsocialmedia__box__twitter--btn")
          %span<>
      %span{:class => "itemsocialmedia__box__line"}
        =link_to "https://line.me/ja/" do
          = icon('fab', 'line', class: "itemsocialmedia__box__line--btn")
          %span<>
      %span{:class => "itemsocialmedia__box__pinterest"}
        =link_to "https://www.pinterest.jp/" do
          = icon('fab', 'pinterest-square', class: "itemsocialmedia__box__pinterest--btn")
  
  .itemsboxperson
    .itemsboxperson__head
      =link_to "#", class: "itemsboxperson__head--btn" do
        = @item.seller.nickname
        さんのその他の出品
    .itemsboxperson__content
      .itemsboxperson__flex
        - @item_seller_id.each do |item_seller|
          .itemsboxperson__content__img
            = link_to item_path(item_seller), data: {"turbolinks" => false} do
              =image_tag item_seller.images[0].src.url,class:"temsboxperson__content__itembox__photo",size:"220x220"
            .itemsboxperson__content__body
              .itemsboxperson__content__body__name
                = item_seller[:name]
              .itemsboxperson__content__body__price
                = number_to_currency(item_seller.price)
                .itemsboxperson__content__body__price__font           
                .itemsboxperson__content__body__price__like
                  %button{:class => "itembox__button__left__like--btn"}
                    = icon('far', 'heart', class: "itembox__button__left__like--btn")
                  %span 0

  .itemsboxperson
    .itemsboxperson__head
      =link_to "#", class: "itemsboxperson__head--btn" do
        あなたの出品一覧
    .itemsboxperson__content
      .itemsboxperson__flex
        - @items_seller_id.each do |item_seller|
          .itemsboxperson__content__img
            = link_to item_path(item_seller), data: {"turbolinks" => false} do
              =image_tag item_seller.images[0].src.url,class:"temsboxperson__content__itembox__photo",size:"220x220"
            .itemsboxperson__content__body
              .itemsboxperson__content__body__name
                = item_seller[:name]
              .itemsboxperson__content__body__price
                = number_to_currency(item_seller.price)
                .itemsboxperson__content__body__price__font           
                .itemsboxperson__content__body__price__like
                  %button{:class => "itembox__button__left__like--btn"}
                    = icon('far', 'heart', class: "itembox__button__left__like--btn")
                  %span 0
.genrelist
  .genrelist__right
    =link_to "#", class: "genrelist__right__mercari" do
      %span メルカリ  
      = icon('fas', 'chevron-right', class: "genrelist__right__mercari")
  .genrelist__left
    %p 正規品ギター　ショルダーバッグ　ミニバッグ　ポシェット


.main
  .sub-main
    .footer
      = render partial: "footer"